<nav class="bg-gray-800 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <div class="text-white text-lg font-semibold"><a href="/">Spotify Ironhack App</a></div>
      <div class="flex space-x-4">
        <div class="text-white text-lg font-semibold">Created by Blanca</div>
      </div>
    </div>
  </nav>
