<div class="container">
    <h1>Spotify Artist Search</h1>
    <form action="/search" method="GET">
        <div>
            <label for="artist">Artist Name:</label>
            <input type="text" id="artist" name="artist" required>
        </div>
        <button type="submit">Search</button>
    </form>
</div>