<div class="container">
    <h1 class="flex flex-col items-center justify-center m-5">Spotify Artist Search</h1>
    <form action="/artist-search" method="GET" class="flex flex-col justify-center items-center">
        <div>
            <label for="artist">Artist Name:</label>
            <input type="text" placeholder="Choose an artist" id="artist" name="artist" class="border-2 border-black rounded p-2">
        </div>
        <button type="submit" class="bg-black text-white hover:bg-red-700 mt-3 p-3 rounded">Search</button>
    </form>
</div>